* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 45%;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 0px;
    letter-spacing: -1px;
    cursor: pointer;
}

h1:hover {
    filter: brightness(1.2);
    
}

.sub {
    font-size: 1.5rem;
    color: var(--claro);
}

.social-icons {
    display: flex;
    gap: 1.2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.icone-linkedin, .icone-github  {
    width: 40px;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: rgba(79, 70, 229, 0.15);
    transform: translateY(-3px) scale(1.08);
    box-shadow: 0 8px 25px rgba(79, 70, 229, 0.35);
}

.icone-linkedin,
.icone-github {
    width: 40px;
    transition: filter 0.3s ease;
}

.social-icons a:hover img {
    filter: brightness(1.2);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-mim {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.info-caixa {
    padding: 2rem;
    max-width: 740px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.paragraph {
    text-align: justify;
    font-size: 1rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projeto-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;

}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projeto-imagem {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos {
    padding: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 1px solid var(--vidro);
    border-radius: 16px;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--maisEscuro);
}

.menu-hamburguer {
    display: none;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .navegacao {
        width: 100px;
        position: fixed;
        background: rgba(15, 23, 42, 0.3);
        border-radius: 12px;
        left: 0;
        top: 0;

    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 2rem;
        background: rgba(15, 23, 42, 0.3);

        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        padding: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }

    .menu.ativo {
        display: flex;
    }

    .menu-hamburguer {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .menu-hamburguer span {
        width: 35px;
        height: 3px;
        background: white;
        border-radius: 6px;
    }

    .foto-perfil {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 2.1rem;
    }

    .sub {
        font-size: 1.1rem;
    }

    .sobre-mim {
        font-size: 2rem;
    }

    .projeto-titulo {
        font-size: 2rem;
    }

    .paragraph {
        text-align: center;
        font-size: 1rem;
    }

    .contatos-titulo {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 40px;
    }

}